
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:20rem;
    width:30rem;
    background-color: aqua;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
    box-shadow: 0px 15px 20px;
}
.button{
  background-color:lightgreen;
  margin: .5rem;
  width:6rem;
  border-radius: 20px;
  border: 2px rgb(6, 76, 6) solid;

}
.left{
  display: flex;
  flex-direction: row;
  flex: 1;
  background-color: antiquewhite;
}
.right{
  display: flex;
  flex-direction: row;
  flex:1;
  background-color: aquamarine;
}